<?php

?>
<style>
    div.card-columns {
        column-count: 7
    }

    div.trailer-placeholder {
        width: 100%;
        height: 450px;
        background-color: lightgrey;
        background-repeat: no-repeat;
        background-position: center center;
        filter:blur(1px);
        text-align: center;
    }
</style>
<div id="app">

    <div class="row">
        <div class="col-md-12">
            <b-input-group placeholder="Search" class="mb-3">
                <b-form-input v-on:keyup.enter="search()" v-model="searchText"></b-form-input>
                <b-input-group-append>
                    <b-button @click="search()" variant="primary">Search</b-button>
                </b-input-group-append>
            </b-input-group>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p v-if="noMoviesFound">No movies found</p>
            <div v-if="progress">
                <b-progress :value="100" variant="info" animated class="mt-3"></b-progress>
            </div>


            <b-card-group columns v-if="!progress && movies.length > 0">
                <b-card
                    :img-src="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + movie.poster"
                    v-for="movie in movies"
                    :img-alt="movie.name"
                    overlay
                    @click="info(movie, movie.poster, $event.target)"
                ></b-card>
            </b-card-group>

            <!-- Deactivate subscription modal -->
            <b-modal size="xl" ref="modal" :id="infoModal.id" :title="infoModal.title" ok-only @ok="handleOk" modal-ok="delete" @hide="resetInfoModal">
                <div class="row">
                    <div class="col-md-3">
                        <img  class="img-fluid" :src="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + currentMovie.poster" :alt="currentMovie.name">
                    </div>
                    <div class="col-md-9" style="height: 600px">
                        <p><b>Release date:</b> {{currentMovie.releaseDate}}</p>
                        <p><b>Description:</b> {{currentMovie.desc}}</p>

                        <div
                            class="trailer-placeholder d-flex justify-content-center mb-3"
                            v-if="!currentMovie.trailer"
                            v-bind:style="{ backgroundImage: backdropCssUrl}"
                        >
                            <div class="row justify-content-center align-self-center">
                                <b-spinner variant="light" style="width: 6em; height: 6em;" label="Loading..."></b-spinner>
                            </div>

                        </div>
                        <iframe v-if="currentMovie.trailer" width="100%" height="450px" :src="'https://www.youtube.com/embed/' + currentMovie.trailer" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>
                </div>
            </b-modal>
        </div>
    </div>

</div>

<script>
    window.onload = () => {
        new Vue({
            el: '#app',
            data() {
                return {
                    searchText: '',
                    currentShowSearch: '',
                    movies: [],
                    noMoviesFound: false,
                    progress: false,
                    currentMovie:                         {
                        "name": "",
                        "desc": "",
                        "poster": "",
                        "backdrop": "",
                        "releaseDate": ""
                    },
                    infoModal: {
                        id: 'info-modal',
                        title: '',
                        content: ''
                    },
                }
            },
            computed: {
                backdropCssUrl: function() {
                    return 'url("https://image.tmdb.org/t/p/w1400_and_h450_face' + this.currentMovie.backdrop + '")';
                }
            },
            methods: {
                info(movie, poster, button) {
                    this.currentMovie = movie;
                    if (!movie.trailer) {
                        this.findTrailers([movie.name]);
                    }

                    this.infoModal.title = movie.name;
                    this.infoModal.content = '';
                    this.$root.$emit('bv::show::modal', this.infoModal.id, button);
                },
                search() {
                    if (this.currentShowSearch == this.searchText) {
                        return;
                    }

                    this.progress = true;
                    this.$http.get('/api/search?q=' + encodeURIComponent(this.searchText)).then(response => {
                        this.movies = response.body;
                        this.noMoviesFound = this.movies.length < 1;
                        this.progress = false;
                        this.currentShowSearch = this.searchText;
                        // To many requests
                        // this.fetchTrailers();
                        // success callback

                    }, response => {
                        // error callback
                    });
                },
                fetchTrailers() {
                    var moviesWithoutTrailers = [];
                    var findTrailers = this.findTrailers;
                    this.movies.forEach(function (movie, index) {
                        if (movie.trailer) {
                            return;
                        }

                        moviesWithoutTrailers.push(movie.name);
                        // if (moviesWithoutTrailers.length >= 5) {
                        //     findTrailers(moviesWithoutTrailers);
                        //     moviesWithoutTrailers = [];
                        // }
                    });

                    if (moviesWithoutTrailers.length > 0) {
                        this.findTrailers(moviesWithoutTrailers);
                        moviesWithoutTrailers = [];
                    }
                },
                findTrailers(movies) {
                    if (!movies) {
                        return;
                    }
                    var query = '';
                    movies.forEach(function (movie, key) {
                        query+= 'search[]=' + encodeURIComponent(movie) + '&';
                    });

                    this.$http.get('/api/find-trailers?' + query).then(response => {
                        var trailers = response.body;


                        for (var key in this.movies) {
                            if (typeof this.movies[key].name === 'undefined') {
                               continue;
                            }

                            if (this.movies[key].trailer) {
                                continue;
                            }

                            this.movies[key].trailer = trailers[ this.movies[key].name];
                        }
                        // success callback

                    }, response => {
                        // error callback
                    });
                },
                resetInfoModal() {

                },
                handleOk(bvModalEvt) {

                },
            }
        })
    }
</script>